<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="ServerPort" value="5555"/>
    <add key="DebugMode" value="True"/>
    <add key="PlayersCount" value="2"/>
    <add key="Map" value="testmap.xml"/>
    <add key="MaxGameDuration" value="00:05:00"/>
    <add key="MaxPlayDuration" value="00:00:10"/>
    <add key="MaxPlays" value="200"/>
  </appSettings>
</configuration>